.container {
	width: 1280px; /*Set the width of the entire website here */
	margin-right: auto;
	margin-left: auto; /* Margin-left and right are set to auto to center the container */
}
.five:first-child, .four:first-child, .three:first-child, .two:first-child, .one:first-child, .six:first-child {
	margin-left: 0; /* This line of code makes the left-most column align to the left of the screen */

}

.six {
	width: 100%; /* This div spans six columns (the entire row)*/
	display: block; /*Display: block changes the orientation of elements to horizontal rather than vertical (it makes each column appear to the right of the previous column)*/;
}
.five {
	width: 80%; /* This div spans five columns */
	display: block;
	float:left;
	margin-left: 2%;
}
.four {
	width: 66%;
	display: block;
	float:left;
	margin-left: 2%;

}
.three {
	width: 49%;
	display: block;
	float:left;
	margin-left: 2%;

}
.two {
	width: 32%;
	display: block;
	float:left;
	margin-left: 2%;

	}
.one {
	width: 15%;
	display: block;
	float:left;
	margin-left: 2%;

}
.row {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0;
}

h1 {
  background-color:;
  text-emphasis-color: ;
}

nav ul {
  background-color: red;
  color: white;
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

nav li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  color: yellow;
}

.col-1-3 {
  float: left;
  width: 33.33%;
}

.col-2-3 {
  float: right;
  width: 66.66%;
}

section a {
  color: red;
  display: block;
}

#sidebar {
  background: #151718;
  width: 200px;
  height: 100px;
  display: block;
  position: absolute;
  left: -200px;
  top: 0px;
  transition: left 0.3s linear
}

#sidebar.visible {
  left: 0px;
  transition: left 0.3s linear;
}

div ul {
  margin: 0px;
  padding: 0px;
}

div li {
  list-style: none;
}

div li a {
  background: #1C1E1F;
  color: #ccc;
  border-bottom: 1 px solid #111;
  display: block;
  width: 180px;
  padding: 10px;
  text-decoration: none;
}

#sidebar-btn {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin: 20 px;
  position: absolute;
  top: 0px;
  right: -50px;
}

#sidebar-btn span {
  height: 1px;
  background: #111;
  margin-bottom: 5px;
  display: block;
}

#sidebar-btn span:nth-child(2){
  width:75%;
}

#sidebar-btn span:nth-child(3){
  width:50%;
}
